@font-face{
	src: url('fonts/LittlePanda_Demo.otf');
}

@font-face{
	src: url('fonts/Snowy_Night.ttf');
}

#pane{
	-fx-background-color: #FEFAEE; 
}

#tabPane1{
	-fx-background-color: #484D6D;
}

#tabPane2{
	-fx-background-color: #48A9A6;
}

#pane1{
	-fx-background-color: #FEFAEE; 
}

#pane2{
	-fx-background-color: #FEFAEE; 
}

#cyk{
	-fx-font-family: 'Snowy Night';
	-fx-font-size: 35;
}

.tab-pane{
	-fx-skin: "com.sun.javafx.scene.control.skin.TabPaneSkin";
	-fx-tab-min-height: 2em;
	-fx-tab-max-height: 2em;
}
.tab .tab-label{
	-fx-font-family: 'Little Panda';
	-fx-font-size: 22;
}

.tab{
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.083333em 0.5em 0.083333em 0.5em;
}

.tab:focused{
	-fx-focus-color: transparent;
}

.label{
	-fx-font-family: 'Little Panda';
	-fx-font-size: 15;
}

.text-field {
    -fx-background-color: #C1666B, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
    -fx-font-family: 'Little Panda';
    -fx-font-size: 19;
}

.text-field:focused {
    -fx-background-color: #A52422, -fx-background ;
}

.text-field:focused:hover {
    -fx-background-color:
        #EBA6A9,
        #FFFFFF;
}

.button {
	-fx-font-family: 'Little Panda';
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to top right, #FF7477, #E69597);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: linear-gradient(to top right, #7D3CCD, #A97DDE, #C5BBF2);
  -fx-text-fill: white;
}