@font-face{
	src: url('fonts/LittlePanda_Demo.otf');
}

@font-face{
	src: url('fonts/Snowy_Night.ttf');
}

#pane{
	-fx-background-color: #FEFAEE; 
}

#tabPane1{
	-fx-background-color: #484D6D;
}

#tabPane2{
	-fx-background-color: #48A9A6;
}

#pane1{
	-fx-background-color: #FEFAEE; 
}

#pane2{
	-fx-background-color: #FEFAEE; 
}

#cyk{
	-fx-font-family: 'Snowy Night';
	-fx-font-size: 35;
}

.button{
	-fx-font-family: 'Little Panda';
	-fx-font-size: 20;
}

.tab .tab-label{
	-fx-font-family: 'Little Panda';
	-fx-font-size: 22;
}